automata-lib
fado
faker
fastapi
graphviz
hypothesis
jinja2==2.10
jsonpickle<1.4
markupsafe==2.0.1
matplotlib
mpld3
networkx
pandas
pdf2image==1.17.0
pillow
prettytable
pydantic
pylama
pylatexenc==2.10
pylint
pytest
pytest-reportlog
regex
scipy
sympy
tr-greenery
wimsapi
zxcvbn
isoddeven
